footer
  #copyright(style='background: #293440;')
    p.createdBy Brian van Vlymen © 2020
    //- script(src='//www.powr.io/powr.js', external-type='html')
    //- #fbf25e2c_1460157026.powr-hit-counter
  .containter.text-center
  //- h4 Google Ads
  //- script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  //- // responsive bottom
  //- ins.adsbygoogle(style='display:block;', data-ad-client='ca-pub-3887486988814609', data-ad-slot='5258747976', data-ad-format='auto')
  //- script.
  //-   (adsbygoogle = window.adsbygoogle || []).push({});
  script.
    $(document).ready(function() {
    $('#Brian').fadeIn(5000);
    $('#vanVlymen').delay(1100).fadeIn(1500);
    $('#frontEnd').delay(2000).fadeIn(1500);
    });

  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
