doctype html(lang='en')
head
  title Brian van Vlymen
  meta(name='og:keywords', content='van vlymen, web developer, software developer, front end developer, javascript developer, full stack developer, inspiration, interface, interactive, node js,html,css,bootstrap,portfolio, San Antonio')
  meta(name='og:description', content='Brian van Vlymen is an America, San Antonio, Texas who enjoys on web developer')
  meta(name='og:author', content='Brian van Vlymen')
  meta(name='robots', content='follow')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Lato:900italic,300italic', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/journal/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='bower_components/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='/css/cover.css')
  link(rel='stylesheet', href='/css/contact.css')
  link(rel='stylesheet', href='/css/work.css')
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
  script(src='/js/index.js')
  script(src='/js/analytics.js')
  script#mcjs.
    !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/aedf49568f44e378f05b0f42c/fbf8723291c794d66d86dc7b6.js");


body
  // load navbar.jade
  include navbar

  // content block
  block content

include footer


    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')

    
