li a,
li a:focus,
li a:hover {
    color: #2e87e7;
}

a,
a:focus,
a:hover {
    color: #fff;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

html,
body {
    height: 100%;
    background-color: #B8CCDC;
}

body {
    color: black;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    padding-top: 265px;
    width: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.dropdown-menu>li>a:hover {
    background: #9EB6CB;
    color: white;
}

.inner {
    padding: 30px;
}

.Brian {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 7em;
}

.vanVlymen {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 5em;
    padding-top:35px;
}

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.mastfoot {
    color: #505E6A;
    /* IE8 proofing */
    color: rgba(98, 119, 136, .5);
}

.image-paws-left {
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.image-paws-right {
    /* display: none; */
}

.arrowUp {
    max-width: 100%;
    background: #8DA1B2;
    border-radius: 100%;
    border: solid 5px #505E6A;
    padding: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: #9EB6CB
}

.navbar-default .navbar-nav>li>a:hover {
    background: #758C9E;
}

#about-container {
    width: 100%;
    background: #9EB6CB;
    padding: 10px 10px;
}

.paddingScrollTop {
    padding-top: 50px;
}


/*ABOUT*/

#about #skills img {
    width: 15%;
    margin: 50px 0px;
    padding: 5px;
    border-radius: 50%;
}

.navbar-default .navbar-brand {
    color: #9EB6CB;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav>li>a:hover {
    background: #758C9E;
    color: #8DA1B2;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #505E6A;
    background-color: #9EB6CB;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #9EB6CB;
    background-color: transparent;
}

#copyright {
    text-align: center;
    margin: auto;
    font-size: 1em;
    height:50px;
}
.createdBy{
    color: #b8ccdc;
}

.mastfoot {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    padding-right: 38px;
    padding-bottom: 20px;
}

.fa-3x {
    font-size: 1em;
}
.social:hover{
    background:rgba(41,52,64, 0.5);
    border-radius: 10px;
    transform: rotate(360deg);
    transition: all .5s; 
}

.codepenColor{
    color:#66696a;
    margin-top:10px;
}
.phone-image{
    height:350px;
    margin-left: 20%;
}

/* Extra small devices col-xs-12 (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */


/* Small devices col-sm-12 (tablets, 768px and up) */

@media (min-width: 518px) {
    .fa-3x {
        font-size: 2em;
    }

}

@media (min-width: 768px) {
    .image-paws-right{
        display:flex ;
    }
    .nav.navbar-nav {
        float: none;
        display: inline-block;
        margin-bottom: -5px;
    }
    .fa-3x {
        font-size: 2em;
    }
    .cover-container {
        width: 100%;
    }
    .image-paws-left {
        /* margin-right: auto; */
        /* margin-left: 0; */
        max-height:155px;
        height :50px;
        width: 50px;

    }
    .image-paws-right {
        /* display: block; */
        /* margin-left: auto; */
        /* position: relative; */
        /* top: -180px; */
        max-height:155px;
        height:50px;
        width: 50px;
    }
    .center-site-wrapper {
        margin-left: 324px;
        position: relative;
    }
    .leftImageSide {
        position: relative;
        top: -621px;
        width: 325px;
    }
    .site-wrapper {
        margin-bottom: -621px;
    }
    /* .placeName {
        position: relative;
        top: -190px
    } */
    #navbar {
        padding-left: 40%;
    }
}


/* Medium devices col-md-12 (desktops, 992px and up) */

@media (min-width: 992px) {
    .fa-3x {
        font-size: 3em;
    }
}


/* Large devices  col-lg-12(large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}

.site-wrapper2 {
    display: flex;
    height: auto;
    padding-top: 60px;
}

.site-wrapper2 .left-section {
    display: flex;
    width: 300px;
    flex-flow: column wrap;
    min-height: 400px;
    min-width: 100px;
}

.placeName{
   display:flex;
   justify-content: center;
   flex-direction: column;
   width:100%;
   align-items: center;
   height: 350px;
}

.site-wrapper2 .imageWolfPaws{
    display: flex;
    justify-content: space-around;
    /* background: red; */
    width: 100%;
    flex-wrap:wrap;
    height:auto;
}

.left-sectionPic1,.left-sectionPic2{
    height:200px;
    max-height:200px;
}

.aboutFlexBox{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    height:auto;
    flex-direction: column;
    text-align: center; 
}
.aboutFlexBox h1{
    margin:10px;
}
.aboutFlexBox p {
    width:auto;
    max-width: 500px;
}
.skills{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.slide-in{
    opacity: 0;
    transition: all 0.9s;
    transform: translateY(-900%) scale(.25);
    border: 5px solid black;
    border-radius: 10px;
}

.active-slide-in{
    opacity: 1;
    transform: translateY(0%) scale(1);
}

.align-left-slide-in{
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(-100%) scale(.25);
}
.active-align-left-slide-in{
    opacity: 1;
    transform: translateX(0%) scale(1);
}

.imageWolfPaws{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    height:500px;
}
.walkingPawBox{
  /* height:400px; */
  /* width: 200px; */
  /* background:green; */
  display:flex;
  justify-content:center;
}

/* very important */

.image-paws-left, .image-paws-right{
  display:none;
}

.image-paws-left, .image-paws-right{
  height:100px;
  width:100px;
}
.fadePerfect {
    opacity: 0;
    animation: fadePerfectOpacity 1s ease-in-out;
}

@keyframes fadePerfectOpacity {
	0%, 100% {
		opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.fadeinEnd{
  animation: fadeinEnd 1s ease-in;
/*   display:flex; */
}

@keyframes fadeinEnd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.placeFrontEndDev{
    position: absolute;
    top:200px;
    text-align: center;
}
.placeBrianVan{
    font-size: 0.4rem;
    /* background: red; */
    margin-top: 310px;  
    position: absolute;
}

@media (min-width: 768px){
    .image-paws-left, .image-paws-right { /* the two images are not same size!!! */ 
        max-height: 155px;
        height:100px;
        width: 100px;
    }
    .placeBrianVan{
        font-size: 1.5rem;
        margin-top: 180px; 
    }
}
