// Blog Sidebar Widgets Column
.col-md-4.paddingScrollTop
  .well.text-center
    h4 Blog Categories
    .row
      .col-lg-6
        ul.list-unstyled
          li
            a(href='/jade') Jade - Template Engine
          li
            a(href='/angular') Angular
          li
            a(href='/jquery') Jquery
          li
            a(href='/devtools') Developer Tools
      .col-lg-6
        ul.list-unstyled
          li
            a(href='#') Disqus , node? 
  .well.text-center
    h4 Google Ads
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    ins.adsbygoogle(style='display:block; background:yellow;', data-ad-client='ca-pub-3887486988814609', data-ad-slot='7474376375', data-ad-format='auto')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
