extends ../layout

block content

  .container.paddingScrollTop
    .row
      .col-md-12
        h1.page-header.text-center
          | ARTICLES
        h2.text-center
          a(href='https://medium.com/@vanvlymenpaws' target="_blank") Medium  
        p.text-center
          | More information on Medium for the latest
        hr
        h2.text-center
          a(href='https://twitter.com/vanvlymenpaws' target="_blank") Twitter 
        p.text-center
          | More information on Twitter for the latest
          