html,
body{
	height:100%;
	background-color: #101010;
}

.img{
	height:300px;
	width:400px;
	position: absolute;
	z-index: 1;
}


.box{
	background: yellow; 
	width:100px; 
	height: 100px;
	float:left;
	position: relative;
	z-index: 1000;

}