doctype html
html
	include ../../include/head.pug
	body
		include ../../include/nav.pug

		.container.paddingScrollTop
			h1.page-header.text-center 
				| Categories Developer Tools
			.row
				.col-md-8
					h2
					a(href='/sublime-text-create-new-snippet') Sublime Text create new snippet 
					p
					span.glyphicon.glyphicon-time
					|  Posted on May 1, 2016 at 5:40 PM
					hr
					h2

				include ../../include/blogSidebar.pug
				hr
	include ../../include/footer.pug