doctype html
html
	include ../../include/head2.pug
	body
		include ../../include/nav1.pug

		.container.paddingScrollTop
			h1.page-header.text-center 
				| Categories Developer Tools
			.row
				.col-md-8
					.text-center
						h2
							|Sublime Text create new snippet
						p
						span.glyphicon.glyphicon-time
						|  Posted on May 1, 2016 at 5:40 PM
					hr
					.embed-responsive.embed-responsive-16by9
						iframe.embed-responsive-item( src='https://www.youtube.com/embed/nUvULGpexrE', frameborder='0', allowfullscreen='')

					p
						| If you are a user of sublime text (I hope you are, it kicks ass. You can get it 
						a(href='https://www.sublimetext.com/' target="_blank") here
						| ), then you may have
						| already noticed some of the tab completion capabilities. For example, when you are opening an html tag such as 
						code <p>
						| , it automatically closes
						| the tag as soon as you type 
						code /
						| . You can get similar functionality for pieces of code you end up re-writing over and over, and it’s surprisingly
						| easy!
					p
						| Here’s an example, which activates after typing 
						code div
						|  and then tab:
					p
						img(src='http://i.imgur.com/J1Tj2B0.png', alt='alt text')
					h1 The Steps
					h3 Step 1.
					p
						| Click 
						code Tools > New Snippet...
						|  in the navigation bar. This will open a snippet skeletton file which will look like this:
					p
						img(src='http://i.imgur.com/rjTmAuA.png', alt='alt text')
					h3 Step 2.
					p
						| You will add the snippet by replacing the text 
						code Hello, ${1:this} is a ${2:snippet}.
					p
						| In the case of the 
						code div
						|  snippet, it’s as simple as placing the following text in the snippet area:
						img(src='http://s32.postimg.org/8kc8ko751/Ashampoo_Snap_2016_05_01_18h18m31s_002.png', alt='alt text' width="200px" height='200px')

					p
						| The 
						code $
						|  operator references the variables that will be typed in once you type 
						code div
						|  and then tab. In fact you can have any number of them!
					h3 Step 3.
					p
						| Save the file. You can give it any filename you want, but the extension 
						strong must
						|  be 
						code .sublime-snippet
						| . Remember, you can only have one
						| snippet per file! I like to give them descriptive names such as 
						code html-div.sublime-snippet
						| .
					p And there you have it! You can get as creative as you want.

				include ../../include/blogSidebar.pug
				hr
	include ../../include/footer.pug