doctype html
html
	include ../../include/head.pug
	body
		include ../../include/nav.pug

		.container.paddingScrollTop
			h1.page-header.text-center 
				| Categories Jade
			.row
				.col-md-8
					h2
					a(href='/How-to-add-Jade-syntax-highlighting-in-Sublime-Text-2') How-to-add-Jade-syntax-highlighting-in-Sublime-Text-2
					p
					span.glyphicon.glyphicon-time
					|  Posted on Apirl 22, 2016 at 3:35 PM
					hr
					h2
					a(href='/html2jade') HTML2jade help you convert a HTML snippet to a Jade snippet. Useful for testing out how something would look in Jade vs HTML
					p
					span.glyphicon.glyphicon-time
					|  Posted on Apirl 22, 2016 at 3:45 PM
				include ../../include/blogSidebar.pug
				hr
	include ../../include/footer.pug