doctype html
html
	include ../../include/head2.pug
	body
		include ../../include/nav1.pug

		.container.paddingScrollTop
			h1.page-header.text-center 
				| Categories Jade
			.row
				.col-md-8
					h2
						| HTML2jade help you convert a HTML snippet to a Jade snippet. Useful for testing out how something would look in Jade vs HTML
					p
					span.glyphicon.glyphicon-time
					|  Posted on Apirl 22, 2016 at 3:45 PM

					p
					| I find it easier to just use convert snippet. 
					p 
						a(href='http://html2jade.org/' target="_blank") html2jade

				include ../../include/blogSidebar.pug
				hr
	include ../../include/footer.pug