extends ../layout

block content
        .container(style='margin-top: 70px;')
            .text-center
                h1 Hi!
                p  I am Brian van Vlymen and I am making 11 websites in 11 days.
                p
                | you can follow the project here and on the 
                a(href='https://twitter.com/vanvlymenpaws', target='_blank') Blog
            hr
            .row
                .col-md-4
                    h2.text-center Jquery
                    .list-group.list-cust
                        a.list-group-item(href='project/ex1/1.html') Day 1 Get a Random Color Background
                        a.list-group-item(href='project/ex2/2.html') Day 2 Mondrian Paint
                        a.list-group-item(href='project/ex3/3.html') Day 3 Secret Message
                        a.list-group-item(href='project/ex4/4.html') Day 4 Day Tracker
                        a.list-group-item(href='project/ex5/5.html') Day 5 Mondrian Random Boxes
                        a.list-group-item(href='project/ex6/6.html') Day 6 Secret Image
                        a.list-group-item(href='project/ex7/7.html') Day 7 Bouncing Ball
                        a.list-group-item(href='project/ex8/8.html') Day 8 Sushi Jiggler
                        a.list-group-item(href='project/ex9/9.html') Day 9 Color Clock
                        a.list-group-item(href='project/ex_10/10.html') Day 10 Dice Game
                        a.list-group-item(href='project/ex_11/11.html') Day 11 Rock Paper Scissors
                        a.list-group-item(href='project/ex_12/12.html') Day 12 Coming soon
                .col-md-4
                    h2.text-center Basic Algorithm Scripting
                    .list-group.list-cust
                        a.list-group-item(href='project/basicAlgorithmScripting/1.html') Reverse a String
                        a.list-group-item(href='project/basicAlgorithmScripting/2.html') Factorialize a Number
                .col-md-4
                    h2.text-center MongoDB University
                    .list-group.list-cust
                        a.list-group-item(href='https://blog.codecentric.de/en/2012/12/mongodb-tutorial/') MongoDb - tutorial
            hr
            .row
                .col-md-6
                    h2.text-center CSS
                    .list-group.list-cust
                        a.list-group-item(href='https://codepen.io/arduino731/full/jxdgjW' target="_blank") Day 1 CSS
                .col-md-6
                    h2.text-center coming soon
                    .list-group.list-cust
                        a.list-group-item(href='project/ex1/1.html') ?
        // end conatiner

