extends ../layout

block content
        .container(style='margin-top: 70px;')
            .text-center
                h1 Hello!
                p  My name is Brian van Vlymen with excellent experience web developer and all my works are in the Github (please check it out!)
                p
                | you can following my projects
            hr
            .row
                .col-md-4
                    h2.text-center Jquery
                    .list-group.list-cust
                        a.list-group-item(href='project/jQuery/ex1/1.html') Day 1 Get a Random Color Background
                        a.list-group-item(href='project/jQuery/ex2/2.html') Day 2 Mondrian Paint
                        a.list-group-item(href='project/jQuery/ex3/3.html') Day 3 Secret Message
                        a.list-group-item(href='project/jQuery/ex4/4.html') Day 4 Day Tracker
                        a.list-group-item(href='project/jQuery/ex5/5.html') Day 5 Mondrian Random Boxes
                        a.list-group-item(href='project/jQuery/ex6/6.html') Day 6 Secret Image
                        a.list-group-item(href='project/jQuery/ex7/7.html') Day 7 Bouncing Ball
                        a.list-group-item(href='project/jQuery/ex8/8.html') Day 8 Sushi Jiggler
                        a.list-group-item(href='project/jQuery/ex9/9.html') Day 9 Color Clock
                        a.list-group-item(href='project/jQuery/ex_10/10.html') Day 10 Dice Game
                        a.list-group-item(href='project/jQuery/ex_11/11.html') Day 11 Rock Paper Scissors
                .col-md-4
                    h2.text-center Vanilla JavaScript
                    .list-group.list-cust
                        a.list-group-item(href='project/vanillaJS/1/1.html') Custom HTML5 Video Player
                        a.list-group-item(href='https://github.com/arduino731/JavaScript-30/tree/master/18%20-%20Adding%20Up%20Times%20with%20Reduce' target='_blank' title="Open Github") 18 - Adding Up Times with Reduce
                        a.list-group-item(href='https://github.com/arduino731/JavaScript-30/tree/master/19%20-%20Webcam%20Fun' target='_blank' title="Open Github") 19 - WebCam Fun Features
                        a.list-group-item(href='https://github.com/arduino731/JavaScript-30/tree/master/20%20-%20Speech%20Detection' target='_blank' title="Open Github") 20 - Speech Detection
                        a.list-group-item(href='project/vanillaJS/20/index.html') Coming Soon
                .col-md-4
                    h2.text-center MongoDB University
                    .list-group.list-cust
                        a.list-group-item(href='https://blog.codecentric.de/en/2012/12/mongodb-tutorial/') MongoDb - tutorial
            hr
            .row
                .col-md-6
                    h2.text-center CSS
                    .list-group.list-cust
                        a.list-group-item(href='https://codepen.io/arduino731/full/jxdgjW' target="_blank") Day 1 CSS
                .col-md-6
                    h2.text-center Basic Algorithm Scripting
                    .list-group.list-cust
                        a.list-group-item(href='project/basicAlgorithmScripting/1.html') Reverse a String
                        a.list-group-item(href='project/basicAlgorithmScripting/2.html') Factorialize a Number
        // end conatiner

