extends ../layout

block content

    .container.paddingScrollTop
      .row
        // Blog Entries Column
        .col-md-8
          h1.page-header.text-center
            | BLOG 1
          // five Blog Post
          h2
            a(href='/blogs/StartedRWD') Getting Started with RWD (responsive width device) 
          p
            | Which one is best practice to using pointbreak in css? 
          hr
          // five Blog Post
          // four Blog Post
          h2
            | Build a Wikipedia Viewer 
          p
            | coming soon
          hr
          // thrid Blog Post
          h2
            i.fa.fa-external-link(aria-hidden='true')
            a(href='https://medium.freecodecamp.com/how-long-does-free-code-camp-take-f986202346ef#.7tvdog8fi' target="_blank") How Long Does Free Code Camp Take?
          p
            span.glyphicon.glyphicon-time
            |  Posted on May 19, 2016 at 4:49 PM
          img.img-responsive(src='https://cdn-images-1.medium.com/max/800/1*i0igcKxDNrKYDp6gd_s_3g.jpeg', alt='FCCTAKE' style='height:300px' )
          hr
          // Second Blog Post
          h2
            a(href='/blogs/quoteMachine') Building a Random Quote Machine [Project]
            // <script id="dsq-count-scr" src="//buildingarandomquotemachine.disqus.com/count.js" async></script>
          p
            span.glyphicon.glyphicon-time
            |  Posted on Apirl 10, 2016 at 10:45 PM
          img.img-responsive(src='http://i.imgur.com/L0m9c5q.png', alt='randomQuoteMachine')
          p My workflow for building a Random Quote Generator for Free Code Camp
          a.btn.btn-primary(href='blogs/quoteMachine')
            | Read More 
            span.glyphicon.glyphicon-chevron-right
          hr
          // First Blog Post
          h2
            a(href='/blogs/weatherApp') Building a Weather App [Project]
            // <script id="dsq-count-scr" src="//buildingaweatherapp.disqus.com/count.js" async></script>
          p
            span.glyphicon.glyphicon-time
            |  Posted on June 15, 2016 at 2:29 PM
          img.img-responsive(src='http://i.imgur.com/TDog7gE.jpg', alt='WeatherApp')
          p
            | Last week's project involved building an app to show the local weather of any location. Read on to find out how I did it.
          a.btn.btn-primary(href='blogs/weatherApp')
            | Read More 
            span.glyphicon.glyphicon-chevron-right
          hr
          // Pager
          ul.pager
            li.next
              a(href='blog2') Newer →
        include ../include/blogSidebar.pug
      hr