doctype html
html
	include ../../include/head.pug
	body(data-spy='scroll', data-target='.navbar', data-offset='50')
		include ../../include/nav.pug

		.container.paddingScrollTop
			h1 welcome to Catgories Jquery

			.row
				.col-md-8
					h1.page-header.text-center
						| BLOG 1
					h2
					a(href='/blogs/quoteMachine') Building a Random Quote Machine [Project]
					p
					span.glyphicon.glyphicon-time
					|  Posted on Apirl 10, 2016 at 10:45 PM
				hr

				include ../../include/blogSidebar.pug
				hr
	include ../../include/footer.pug